In [104]:
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd
import numpy as np
from joblib import dump, load

# Load and preprocess data
data = pd.read_csv('yield_maize_df.csv')


data.head()

,Unnamed: 0,Area,Item,Year,hg/ha_yield,Average_Rainfall_mm_per_year,Pesticides_Tonnes,Avg_Temp
0,0,Bindura,Maize,2000,36613,1485,121.0,16.37
1,1,Bindura,Maize,2000,66667,1485,121.0,16.37
2,2,Bindura,Maize,2000,23333,1485,121.0,16.37
3,3,Bindura,Maize,2000,12500,1485,121.0,16.37
4,4,Bindura,Maize,2000,7000,1485,121.0,16.37

In [105]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OrdinalEncoder

# Load the data
data = pd.read_csv('yield_maize_df.csv')

# Drop the 'Item' column
data.drop('Item', axis=1, inplace=True)




data = pd.get_dummies(data, columns=['Area'])

In [106]:
data.head()

,Unnamed: 0,Year,hg/ha_yield,Average_Rainfall_mm_per_year,Pesticides_Tonnes,Avg_Temp,Area_Bindura,Area_Centenary,Area_Chikomba,Area_Guruve,...,Area_Marondera,Area_Mazowe,Area_Mrehwa,Area_Mt Darwin,Area_Mudzi,Area_Mutoko,Area_Rushinga,Area_Seke,Area_Shamva,Area_Uzumba
0,0,2000,36613,1485,121.0,16.37,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2000,66667,1485,121.0,16.37,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2000,23333,1485,121.0,16.37,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,2000,12500,1485,121.0,16.37,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,2000,7000,1485,121.0,16.37,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
var = "Area"
for i in data.columns:
    print(i)

Unnamed: 0
Year
hg/ha_yield
Average_Rainfall_mm_per_year
Pesticides_Tonnes
Avg_Temp
Area_Bindura
Area_Centenary
Area_Chikomba
Area_Guruve
Area_Hwedza
Area_Marondera
Area_Mazowe
Area_Mrehwa
Area_Mt Darwin
Area_Mudzi
Area_Mutoko
Area_Rushinga
Area_Seke
Area_Shamva
Area_Uzumba

In [108]:
# Scale the data using StandardScaler
scaler = MinMaxScaler()

# Fit and transform the data



scaler = MinMaxScaler()
data[['Average_Rainfall_mm_per_year', 'Pesticides_Tonnes', 'Avg_Temp', 'hg/ha_yield']] = scaler.fit_transform(data[['Average_Rainfall_mm_per_year', 'Pesticides_Tonnes', 'Avg_Temp', "hg/ha_yield"]])

In [109]:
X = data.drop(['hg/ha_yield'], axis=1)  # features

In [110]:
y = data['hg/ha_yield']  # target variable

In [111]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the model
model = LinearRegression()

# Perform cross-validation with 5 folds
scores = cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')

# Print the cross-validation scores
print("Cross-validation scores:", scores)

# Print the average cross-validation score
print("Average cross-validation score:", scores.mean())

Cross-validation scores: [-0.02887776 -0.02561756 -0.02712999 -0.02679831 -0.02783153]
Average cross-validation score: -0.027251030834762057

In [112]:
model.fit(X_train, y_train)

LinearRegression()

In [114]:
columns = X.columns

In [115]:
y_pred = model.predict(X_test)


# Print the first 5 predictions
print("Predictions:", y_pred[:5])

# Print the first 5 true values
print("True values:", y_test[:5])

Predictions: [0.17481235 0.11575773 0.18100155 0.14451016 0.13882816]
True values: 25564    0.137964
18113    0.040191
25607    0.102034
6815     0.332965
18144    0.112232
Name: hg/ha_yield, dtype: float64

In [103]:
import pickle
with open('model.pkl', 'wb') as f:
    pickle.dump({'model': model, 'scaler': scaler, 'columns':columns }, f)

In [ ]:
# Save the model
dump(model, 'maize_yield_model.joblib')